@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <h3> Товары интернет-магазина "У Фёдора"</h3>
    <table>
        <thead>
            <tr>
                <td>Название</td>
                <td>Производитель</td>
                <td>Цена</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var honey in ViewBag.Honeys)
                {
                    <tr>
                        <td>@honey.Name</td>
                        <td>@honey.Producer</td>
                        <td>@honey.Price</td>
                        <td><a href="/Home/Buy/@honey.Id">Купить</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>