<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/SiteStyle.css">
    <title>Магазин "Ивашково"</title>
</head>
<body>
    <header class="bg-img">
        <div class="wrapper">

        </div>
    </header>
    <nav>
        <div class="wrapper">
            <ul>
                <li>@Html.ActionLink("На главную", "Index", "Home")</li>
                <li> @Html.ActionLink("Список заказов", "PurchaseList", "Home")</li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Социальные сети</a></li>
            </ul>
    </div>
</nav>
<main class="bg-img">
    <div class="wrapper">
        <br />
        @RenderBody()
    </div>
</main>
<footer>
    <div class="wrapper">
        @if (IsSectionDefined("Footer"))
        {
            RenderSection("Footer");
        }
        else
        {
            <span>© </span><a href="https://vk.com/ngurchik"> Федотов Михаил</a>
        }
    </div>
</footer>
</body>
</html>
